@page "/"

<div class="jumbotron jumbotron-fluid hero">

    <h1 class="display-4">Gestione Ordini</h1>
    <h2>Benvenuti nel applicazione per la gestione degli ordini nel ristorante per le consegne a domicilio.</h2>

</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Gestione ordini</h5>
        <p class="card-text">
         Il gestore degli ordini permette di aggiungere, modificare e cancellare ordini.<a href="gestionepiatti" class="btn btn-primary">Vai nella pagina della gestione</a>
        </p>
        <img src="/css/img/menù-per-ristorante.jpg" alt="Gestore dati" width="500" height="500"><br />
    </div>
</div>
